@model IEnumerable<dynamic>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div>
    @(Html.Kendo().Button()
        .Name("linkButton")
        .Tag("a")

        .Content("Create")
        .Events(e =>
        {
            e.Click("ClickCreate");
        })
    )
</div>

<div id="grid" class="grid">

    @(Html.Kendo().Grid(Model).Name("GridSites")
      .DataSource(ds => ds.Ajax()
            .Model(c =>
            {
                c.Id("ID");
                c.Field("Adress", typeof(string));
                c.Field("CreationDate", typeof(DateTime));
                c.Field("ZoneName", typeof(string));
                c.Field("WithLogger", typeof(bool));
                c.Field("LoggerSMSNumber", typeof(int));
                           
                //c.Field(command => command.Custom("View").Click("ViewDetail")).Title("Detail").Width("100px");
            })
            .Read(r => r.Action("Read", "Sites"))
            
            )

            .Columns(columns =>
                {
                    columns.Bound("Adress").Title("Adress");
                    columns.Bound("CreationDate").Title("Creation Date").Format("{0:dd/MM/yyyy HH:mm:ss}");
                    columns.Bound("ZoneName").Title("Signal Name");
                    columns.Bound("WithLogger").Title("With Logger");
                    columns.Bound("LoggerSMSNumber").Title("SMS");
                   
                    columns.Command(command =>
                    {
                        command.Custom("View").Click("ViewDetail");
                    });

                })
                        .Sortable()
                        .Filterable()
                        .Pageable()
    )


</div>





































<script>
    function ClickCreate(e) {

            window.location.href = "@Url.Action("Create", "Sites")";
            }
 </script>



