<!DOCTYPE LINK HREF="https://maps/documentation/javascript/examples/default.css" REL="stylesheet">

<html>

<style scoped>
    .k-button .k-image {
        height: 16px;
    }

    .demo-section {
        width: 500px;
    }

    .netherlandsFlag {
        background-image: url("../content/shared/styles/flags.png");
        background-position: 0 -64px;
    }
</style>



<div id="latlong">
    <p>Latitude: <input size="20" type="text" id="latbox" name="lat"></p>
    <p>Longitude: <input size="20" type="text" id="lngbox" name="lng"></p>
</div>
<button type="button" id="imageButton">Ver Mapa</button>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        var zoom = 10;

       



        var ne = new google.maps.LatLng(-20.009901, -71.258046);

        var sw = new google.maps.LatLng(-20.009901, -71.258046);

        var limache = new google.maps.LatLng(-33.009901, -71.258046);

        var bounds = new google.maps.LatLngBounds(ne, sw);

        var image = "@Url.Content("~/Content/images/Pegasus1.png")";
        var image1 = "@Url.Content("~/Content/images/Limache1.png")";
        var image2 = "@Url.Content("~/Content/images/Location.png")";

        $("#imageButton").kendoButton({
            imageUrl:image2
        });


        var options = {

            zoom: 10,





            mapTypeId: google.maps.MapTypeId.ROADMAP

        };

        var googleMap = new google.maps.Map($("#map")[0], options);

        var infoWindow = new google.maps.InfoWindow({ content: "Cargando..." });

        var myCity = new google.maps.Circle({

            center: limache,

            radius: 60000,

            strokeColor: "#0000FF",

            strokeOpacity: 0.8,

            strokeWeight: 2,

            fillColor: "#0000FF",

            fillOpacity: 0.4

        });

        myCity.setMap(googleMap);

        $.ajax({

            type: "POST",

            url: "http://localhost:17647/Dashboard/Index",

            datatype: "json",

            success: function (data) {

                for (var i = 0; i < data.length; i++) {


                  
                    var point = new google.maps.LatLng((data[i].LatEast), (data[i].LongNorth));

                 

                    bounds.extend(point);



                    var marker = new google.maps.Marker({

                        position: point,

                        map: googleMap,
                        draggable: true,

                        icon: image,





                        html: "<div><div style='float:left;'>" + "<h1>" + data[i].Address + "</h1>" +

                              "<span style='font-size:18px;font-weight:bold;'>Tipo de Equipo</span><hr>" +

                            "<p><span style='font-weight:bold;'>Nombre Localidad: </span>" + data[i].ZoneName + "</p>" + +

                              "Aqui se puede describir las partes importantes del equipo <br>" +

                              "y tambiem las instalaciones <br>" +

                              "Se pueden describir otras caracteristicas y fotos de las instalcion <br>" +

                              "Sitio Web de Dnk Water.<a href='http://www.dnk-water.com' " +

                              "style='text-decoration:none;color:#cccccc;font-size:10px;'> enlazar aqui</a>" +

                              "</div><div style='float:right; padding:5px;'><img src='" + "/Content/images/" + "Limache1.png'>" + "</img></div></div>"



                    });




                    google.maps.event.addListener(googleMap, 'click', function (e) {


                        document.getElementById("latbox").value = e.latLng.lat();
                        document.getElementById("lngbox").value = e.latLng.lng();
                        alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
                    });

                   





                    google.maps.event.addListener(marker, "click", function () {

                        infoWindow.setContent(this.html);

                        infoWindow.open(googleMap, marker);



                    });

                }

            }

        });



        googleMap.fitBounds(bounds);

        googleMap.setCenter(bounds.getCenter());

        googleMap.setZoom(10);



    });

    var button = document.getElementById('imageButton');

    button.onclick = function () {
        var div = document.getElementById('map');
        if (div.style.display !== 'none') {
            div.style.display = 'none';
        }
        else {
            div.style.display = 'block';
        }
    };



</script>



<body>

   


   

    <div id="map" style="width: 1400px; height: 700px;">

    </div>

    </div>

</body>

</html>



