
<!DOCTYPE LINK HREF="https://maps/documentation/javascript/examples/default.css" REL="stylesheet">

<html>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {

     




        var path = [];
        var ne = new google.maps.LatLng(-32.06, -70.6);

        var sw = new google.maps.LatLng(-28.86, -68.4);

        var limache = new google.maps.LatLng(-32.06, -70.6);
        var limache1 = new google.maps.LatLng( -24.05,-69.6);
      
        var bounds = new google.maps.LatLngBounds(ne, sw);


        path.push(limache);
        path.push(limache1);


        bounds.extend(path[path.length - 1]);

     


        var image = "@Url.Content("~/Content/images/Pegasus1.png")";
        var image1 = "@Url.Content("~/Content/images/Limache1.png")";

        var options = {

            zoom: 9,





            mapTypeId: google.maps.MapTypeId.ROADMAP

        };

        var googleMap = new google.maps.Map($("#map")[0], options);

      
        var polyline = new google.maps.Polyline({
            path: path,
            map: googleMap,
            strokeWeight: 2,
            strokeColor: "blue"
        });

        var infoWindow = new google.maps.InfoWindow({ content: "Cargando..." });

        var myCity = new google.maps.Circle({

            center: limache,

            radius: 160000,

            strokeColor: "#0000FF",

            strokeOpacity: 0.8,

            strokeWeight: 2,

            fillColor: "#0000FF",
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                position: google.maps.ControlPosition.BOTTOM_CENTER
            },

            panControl: true,
            panControlOptions: {
                position: google.maps.ControlPosition.TOP_RIGHT
            },
            disableDefaultUI: true,
            disableDoubleClickZoom: true,


            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.LARGE,

                position: google.maps.ControlPosition.LEFT_CENTER
            },



            scaleControl: true,
            scaleControlOptions: {
                position: google.maps.ControlPosition.TOP_LEFT
            },



            fillOpacity: 0.4

        });

        searchCircle = new google.maps.Circle({
            fillColor: '#c0e4dd',
            strokeColor: '#f15f22',
            fillOpacity: 0.5,
            center: limache1,
            radius: 180000,
        
            map: googleMap
        });





        searchCircle.setMap(googleMap);
        myCity.setMap(googleMap);

        $.ajax({

            type: "POST",

            url: "http://localhost:17647/Dashboard/MapaAll",

            datatype: "json",

            success: function (data) {

                for (var i = 0; i < data.length; i++) {


                   
                    var point = new google.maps.LatLng((data[i].LatEast1), (data[i].LongNorth1));
                    if (data[i].LatEast1 == -33.056227194020607 && data[i].LongNorth1 == -71.605496406555176) {
                        var marker;
                      
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(data[i].LatEast1, data[i].LongNorth1),
                            draggable: true,
                            map: googleMap,

                            icon: image,
                            animation: google.maps.Animation.BOUNCE,
                           
                        });
                     

                        var t = setTimeout("marker(" + (i + 1) + ")", 500);

                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                               
                                infowindow.open(googleMap, marker);
                            }
                        })(marker, i));

                

                    }
                    bounds.extend(point);


                    var marker = new google.maps.Marker({

                        position: point,

                        map: googleMap,

                        icon: image,






                        html: "<div><div style='float:left;'>" + "<h1>" + " " + "</h1>" +

                              "<span style='font-size:18px;font-weight:bold;'>Tipo de Equipo</span><hr>" +

                            "<p><span style='font-weight:bold;'>Nombre Localidad: </span>" + " " + "</p>" + +

                              "Aqui se puede describir las partes importantes del equipo <br>" +

                              "y tambiem las instalaciones <br>" +

                              "Se pueden describir otras caracteristicas y fotos de las instalcion <br>" +

                              "Sitio Web de Dnk Water.<a href='http://www.dnk-water.com' " +

                              "style='text-decoration:none;color:#cccccc;font-size:10px;'> enlazar aqui</a>" +

                              "</div><div style='float:right; padding:5px;'><img src='" + "/Content/images/" + "Limache1.png'>" + "</img></div></div>"



                    });

                    









                    google.maps.event.addListener(marker, "click", function () {

                        infoWindow.setContent(this.html);

                        infoWindow.open(googleMap, marker);



                    });

                }

            }

        });
       

        googleMap.fitBounds(bounds);

        googleMap.setCenter(bounds.getCenter());

        googleMap.setZoom(10);



    });
  
</script>



<body>



    <div id="map" style="width: 1400px; height: 700px;">

    </div>

    </div>
    <div id="length"></div>
</body>

</html>




