


<script src="http://code.highcharts.com/stock/highstock.js"></script>

<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

<script src="~/Scripts/Highcharts-4.0.1/js/themes/grid-light.js"></script>




<html>

<head>

    <title>Proyecto Hercules</title>

</head>

<body>
    <table border="1">
        <tr>
            <td>
                <div>

                    <button id="button" type="button" class="myButton">C1pressure visibility</button>

</div>
            </td>
            <td>
                <div>
                <div>
                <div>
                    <button id="button1" type="button" class="myButton">C2flow visibility</button>

                </div>
            </td>
            <td>
                <div>

                    <button id="button2" type="button" class="myButton">C3pressure visibility</button>

                </div>
            </td>
        </tr>
    </table> 
    
    <div id="grid" style="width: 640px; height: 200px;position: relative; top:20px; ">
        <script>
            $(function () {
                $(".myButton").kendoButton();
            });
        </script>

        <script type="text/javascript">


            function Min(elem) {
                var min = elem[0];
                for (i = 1; i < 20; i++) {
                    if (min > elem[i])
                        min = elem[i];
                }
           
               
                return min;
            }
          

            var Math2 = {

                min: function (values) {

                    return this.calculate(values, Math.min);

                },

                max: function (values) {

                    return this.calculate(values, Math.max);

                },
                average: function(values) {
                    var cnt, tot, i;
                    cnt = values.length;
                    tot = i = 0;
                    while (i < cnt) tot+= values[i++];
                    return tot / cnt;
                },

                calculate: function (values, operation) {

                    if (values.length == 0) {

                        return NaN;

                    } else if (values.length == 1) {

                        var val = values.pop();

                        if (typeof val == "number") {

                            return val;

                        } else {

                            return NaN;

                        }

                    } else {

                        var val = values.pop();

                        return operation(val, this.calculate(values, operation))

                    }

                }

            }



            $(document).ready(function () {

                $.ajax({

                    type: "POST",

                    contentType: "application/json; charset=utf-8",

                    url: "http://localhost:17647/HighchartService/Index",

                    data: "{}",

                    dataType: "json",

                    async: true,

                    processData: false,

                    cache: false,

                    success: function (Result) {

                        Result = Result;

                        var data = [];

                        var data1 = [];

                        var data2 = [];

                        var dat = [];

                        var dat1 = [];

                        var dat2 = [];

                        var fech = [];

                        var seriesOneData = [];





                        for (var i in Result) {

                            var serie1 = new Array(Result[i].datetime, Result[i].c2flow);

                            var serie2 = new Array(Result[i].datetime, Result[i].c3pressure);

                            data.push([Result[i].datetime, Result[i].c1pressure]);

                            data1.push([Result[i].datetime, Result[i].c2flow]);

                            data2.push([Result[i].datetime, Result[i].c3pressure]);

                            dat.push(parseFloat(Result[i].c1pressure));

                            dat1.push(parseFloat(Result[i].c2flow));

                            dat2.push(Number.parseFloat(Result[i].c3pressure));

                            fech.push(Result[i].datetime);

                        }
                    
                        var minimo1 = Min(dat);

                        var minimo2 = Min(dat1);

                        var minimo3 = Min(dat2);

                        var maximo1 = Math2.max(dat);

                        var maximo2 = Math2.max(dat1);

                        var maximo3 = Math2.max(dat2);

                       
                       
                  


                        var prom1 = mean(dat);

                        var prom2 = mean(dat1);

                        var prom3 = mean(dat2);
                  
                       
                        $("#grid").kendoGrid({
                            width: 150,
                            width: 150,
                            columns: [
                                { field: "Operaciones" },
                                { field: "Maximo", groupable: false },
                              { field: "Minimo" }, /* group by this column to see the footer template */
                              {
                                  field: "Promedio",
                                  groupable: false,
                                  aggregates: ["count", "min", "max"],
                                  groupFooterTemplate: "age total: #: count #, min: #: min #, max: #: max #"
                              }
                            ],
                            groupable: true,
                            dataSource: {
                                data: [
                                  { Operacion: "C1pressure", Maximo: maximo1, Minimo: minimo1, Promedio: prom1 },
                                  { Operacion: "C2flow", Maximo: maximo2, Minimo: minimo2, Promedio: prom2 },
                                   { Operacion: "C3pressure", Maximo: maximo3, Minimo: minimo3, Promedio: prom3 },
                                ]
                            }
                        });
                   
                        






           DreawChart(data, data1, data2, maximo1, maximo2, maximo3, minimo1, minimo2, minimo3, fech);

                    },

                    error: function (Result) {

                        alert(Result.fail);

                    }




                });

            });

            function DreawChart(series, series1, series2, maximo1, maximo2, maximo3,minimo1,minimo2,minimo3, fech) {



                $(function () {

                    Highcharts.setOptions({

                        global: {

                            useUTC: false,

                        }

                    });

                    $('#container').highcharts('StockChart', {

                        chart: {

                            height: 450,

                            width: 1100,

                            spacingBottom: 10,

                            spacingTop: 1,

                            spacingLeft: 1,

                            spacingRight: 1,

                            backgroundColor: '#ffffff',

                            zoomType: 'x',

                        },

                        legend: {

                            enabled: true,

                            align: 'right',

                            backgroundColor: '#FFFFFF',

                            borderColor: 'black',

                            borderWidth: 2,

                            layout: 'vertical',

                            verticalAlign: 'top',

                            y: 100,

                            shadow: true,

                            labelFormatter: function () {

                                return '<div class="' + this.name + '-arrow"></div><span style="font-family: \'Advent Pro\', sans-serif; font-size:12px">' + this.name + '</span><br/><span style="font-size:10px; color:#ababaa">   Maximo: ' + this.options.total + '</span>';

                            }

                        },

                        rangeSelector: {

                            buttons: [{

                                type: 'minute',

                                count: 10,

                                text: '1h'

                            }, {

                                type: 'minute',

                                count: 1,

                                text: '12h'

                            }, {

                                type: 'day',

                                count: 1,

                                text: '1d'

                            }, {

                                type: 'week',

                                count: 1,

                                text: '1w'

                            }, {

                                type: 'month',

                                count: 1,

                                text: '1m'

                            }, {

                                type: 'month',

                                count: 6,

                                text: '6m'

                            }, {

                                type: 'year',

                                count: 1,

                                text: '1Y'

                            }, {

                                type: 'all',

                                text: 'All'

                            }],


                        },

                        selected: 0,
                        enabled: true,
                        inputEnabled: true,
                        inputDateFormat: '%e %b %Y',

                        title: {

                            text: 'Aguas de Antofagasta',

                            //center
                        },


                        navigator: {



                            xAxis: {



                                dateTimeLabelFormats: {



                                    day: '%Y',



                                    week: '%Y',



                                    month: '%Y',



                                    year: '%Y'



                                }



                            },

                            gridLineWidth: 2,

                            type: 'datetime',

                            ordinal: false,


                            labels: {

                                step: 1,

                                rotation: 45,

                                formatter: function () {

                                    return Highcharts.dateFormat('%a %d %b %H:%M', this.value);

                                }

                            }



                        },
                        tickInterval: 3,

                        events: {

                            setExtremes: function (e) {


                            }


                        },

                        yAxis: [{ // Primary yAxis

                            offset: 30,

                            minorTickInterval: 'auto',

                            lineColor: '#000',

                            lineWidth: 1,

                            tickWidth: 1,

                            tickColor: '#000',

                            title: {

                                text: 'Pressure',

                                tickInterval: 4,

                                style: {

                                    color: '#4572A7'

                                },

                                tickInterval: 4,


                            },
                            gridLineWidth: 0,





                            plotLines: [{

                                value: 120.6738,

                                color: 'red',

                                dashStyle: 'shortdash',

                                width: 2,

                                label: {

                                    text: 'PC'

                                }


                            },


                            {

                                value: 15.7419,

                                color: 'orange',

                                dashStyle: 'shortdash',

                                width: 2,

                                label: {

                                    text: 'PC'

                                }



                                , series: {

                                    cursor: 'pointer',

                                    point: {

                                        events: {

                                            click: function (e) {

                                                hs.htmlExpand(null, {

                                                    pageOrigin: {

                                                        x: e.pageX || e.clientX,

                                                        y: e.pageY || e.clientY

                                                    },

                                                    headingText: this.series.name,

                                                    maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) + ':<br/> ' +

                                                        this.y + ' visits',

                                                    width: 200

                                                });

                                            }

                                        }

                                    },


                                    marker: {

                                        lineWidth: 1

                                    },



                                }


                            }],
                            legend: {

                                enabled: true,

                                layout: 'vertical',

                                align: 'right',

                                verticalAlign: 'middle',

                                borderWidth: 0,

                                floating: false,

                                borderWidth: 1,

                                backgroundColor: '#FFFFFF',

                                shadow: true,

                                labelFormatter: function () {

                                    return '<div class="' + this.name + '-arrow"></div><span style="font-family: \'Advent Pro\', sans-serif; font-size:12px">' + this.name + '</span><br/><span style="font-size:10px; color:#ababaa">   Maximo: ' + this.options.total + '</span>';

                                }

                            },

                            scrollbar: {
                                enabled: true,
                            },



                            labels: {

                                align: 'right',

                                color: '#525151',

                                font: '10px Helvetica',

                                fontWeight: 'bold',

                                format: '{value}(m)',

                                fontSize: '10px',

                                formatter: function () {

                                    return this.value + 'm';

                                },

                                style: {

                                    color: '#89A54E'

                                }

                            },

                            opposite: false



                        },


                        { // Secondary yAxis

                            gridLineWidth: 0,
                            offset: 35,
                            opposite: true,
                            min: -5000,
                            max: 35000,
                            minorTickInterval: 'auto',
                            title: {

                                text: 'Flow(l)',

                                style: {

                                    color: '#4572A7'

                                }

                            },

                            labels: {

                                formatter: function () {

                                    return this.value + ' ';

                                },

                                style: {

                                    color: '#4572A7'

                                }

                            }

                        },

                        { // Tertiary yAxis

                            gridLineWidth: 0,

                            labels: {

                                formatter: function () {

                                    return this.value + ' mb';

                                },

                                style: {

                                    color: '#AA4643'

                                }

                            },

                            opposite: true,


                        }


                        ],



                        series: [{



                            name: 'C1pressure',



                            data: series,

                            yAxis: 1,
                            total: maximo1,

                            tooltip: {



                                valueDecimals: 2



                            },



                        },

                        {

                            name: 'C3pressure',
                            total: maximo2,


                            data: series2,

                            yAxis: 0,


                        },

                         {

                             name: 'C2flow',
                             total: maximo3,


                             data: series1,

                             yAxis: 1,

                         },
                        {

                            type: 'flags',

                            data: [{

                                x: Date.UTC(2014, 9, 23, 17, 55),

                                title: 'A',

                                text: ': "squarepin"',
                                y: 3000,
                            }, {

                                x: Date.UTC(2014, 9, 23, 18, 29),

                                title: 'A',

                                text: 'Shape: "squarepin"'

                            }],

                            onSeries: 'series',

                            shape: 'squarepin',

                            width: 16

                        }

                        ],

                        exporting: {

                            buttons: {

                                customButton: {

                                    x: -62,

                                    onclick: function () {
                                      

                                      

                                    },

                                    symbol: 'circle'

                                }

                            }

                        }

                    });



                    $('#button').click(function () {

                        var chart = $('#container').highcharts(),

                            series = chart.series[0];

                        if (series.visible) {

                            series.hide();

                        } else {

                            series.show();

                        }

                    });



                    $('#button1').click(function () {

                        var chart = $('#container').highcharts(),

                            series = chart.series[1];

                        if (series.visible) {

                            series.hide();

                        } else {

                            series.show();

                        }

                    });



                    $('#button2').click(function () {

                        var chart = $('#container').highcharts(),

                            series = chart.series[2];

                        if (series.visible) {

                            series.hide();

                        } else {

                            series.show();

                        }

                    });



                    $('#button4').click(function () {

                        var chart = $('#container').highcharts();

                        Highcharts.charts[0].xAxis[0].setExtremes(Date.UTC(2014, 10, 23, 13, 15), Date.UTC(2014, 10, 23, 14, 30));

                    });

                });





            }




        </script>

    





       

    </div>


    <div id="container" align="left" style="width: 540px; height: 300px;position: relative; bottom:-50px; ">

    </div>

    
    
    
    
   
  
</body>


    











</html>

