@model IEnumerable<dynamic>

    @{
        ViewBag.Title = "Zone List";
    }

    <h2>List</h2>

    <div id="grid" class="grid">

        @(Html.Kendo().Grid(Model).Name("GridLoggers")
              .DataSource(d => d.Ajax()
                .Model(c =>
                {
                    c.Id("ID");
                    c.Field("ZoneName", typeof(string));
                    c.Field("Status", typeof(bool));
                    c.Field("CreationDate", typeof(DateTime));

                })
                .Read(r => r.Action("Read", "ZoneSites"))
                .Update(update => update.Action("Edit", "ZoneSites"))
                .Create(create => create.Action("Create", "ZoneSites"))

               )
                .Columns(columns =>
                {
                    columns.Bound("ZoneName").Title("Zone Name");
                    columns.Bound("CreationDate").Title("Creation Date").Format("{0:dd/MM/yyyy HH:mm:ss}").EditorTemplateName("CreationDate");
                    columns.Bound("Status").Title("Status");
                    columns.Command(command => { command.Custom("View").Click("showDetails"); command.Edit(); }).Title("Detail");

                })
                        .ToolBar(toolbar => toolbar.Create())
                        .Editable(editable => editable.Mode(GridEditMode.PopUp))
                        .Sortable()
                        .Filterable()
                        .Pageable()

        )

        <script type="text/javascript">
            var detailsTemplate = kendo.template($("#template").html());

            function showDetails(e) {
                e.preventDefault();
                window.location.href = "Detail";
            }
        </script>


    </div>

