@using HerculesSystem.Models

@{
    ViewBag.Title = "ListLogger";
}

<h2>ListLogger</h2>



<div id="grid" class="grid">

    @(Html.Kendo().Grid<HerculesSystem.Models.logger>()
            .Name("GridLogger")

            .Columns(c =>
            {
                c.Bound(p => p.LoggerSMSNumber).Title("Logger");

            })
            .DataSource(d => d
            .Ajax()
            .Read(r => r.Action("GetLogger", "Logger"))
            .ServerOperation(false)

            )
            .Sortable()
            .Filterable()
    )
    
    <script type="text/javascript">
    var detailsTemplate = kendo.template($("#template").html());


    </script>



</div>



