@model IEnumerable<HerculesSystem.Models.logger>

@{
    ViewBag.Title = "ListLogger";
}

<h2>ListLogger</h2>



<div id="grid" class="grid">

    @(Html.Kendo().Grid(Model)
            .Name("GridLoggers")

            .Columns(c =>
            {
                c.Bound(p => p.ID).Title("Logger Name");
                c.Bound(p => p.LoggerSMSNumber).Title("Sities ID");
                c.Bound(p => p.SitiesID).Title("ID");
                c.Command(command => command.Custom("View").Click("showDetails")).Title("Detail").Width("100px"); 
            })
                     .Pageable()
                .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .ServerOperation(false)    )
           
      
            )
           

    <script type="text/javascript">
        var detailsTemplate = kendo.template($("#template").html());

      
     

        function showDetails(e) {
            e.preventDefault();
            window.location.href = "Index";
        }
    </script>

</div>



