@using HerculesSystem.Models

@{
    ViewBag.Title = "ListLogger";
}

<h2>ListLogger</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid" class="grid">

    @(Html.Kendo().Grid<HerculesSystem.Models.logger>()
            .Name("loggers")

            .Columns(c =>
            {
                c.Bound(p => p.LoggerSMSNumber).Title("Logger Name");
                c.Bound(p => p.SitiesID).Title("Sities ID");
                c.Bound(p => p.ID).Title("ID");
                c.Command(command => command.Custom("View").Click("showDetails")).Title("Detail");
            })
            .DataSource(d => d
            .Ajax()
                            .Read(r => r.Action("GetLogger", "Logger"))
            .ServerOperation(false)

            )
            .Sortable()
            .Filterable()
    )

</div>



